*{
  box-sizing: border-box;
  }
  
body {              /*haikei image wo ippai ni suru*/
  margin: 0;
  padding: 0;
  color: rgb(153,123,173);
  background-color: rgb(242,207,215);
  }

.btn {
  box-shadow :0 2px 2px rgba(0,0,0,0.2), 0 -4px 5px -2px rgba(228,164,176,0.7) inset;
  display: inline-block;
  border-radius: 5px;
  background-color: rgb(242,207,215);
  width:40px;
}

.btn:hover {
  background-color: rgb(252, 235, 243);
}

.btn:active {
  box-shadow: none;
  color: rgb(185,181,212);
}

  /** ~c o m m u n **/

header {
  position:fixed;
  top: 0;
  left:0;
  z-index:10;
  background-color: rgba(198,179,214,0.9);
  width:100%;
  height: 60px;
  display: flex;
}

.header-logo {
  margin-left: 40px;
  flex: auto;
  width:70%;
}
.header-logo h1 {
  font-weight: normal ;
  margin: 0;
}

.header-right {
  flex: auto;
  width:30%;
  text-align: center;
}

li {
  list-style: none;
  float: left;
  margin: 0 15px;
  font-size: 24px;
}

.header-right a {
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  background-color: rgb(242,207,215);
  width:40px;
}

/** t o p~ **/
.top-wrapper {
  height:100%;
  width:80%
}

.top-heading {
  margin-top: 100px;
  text-align: center;
}

.top-heading h2 {
  letter-spacing: 0.6em;
  margin-bottom: 5px;
}

.touche-box{
 margin: 0 auto;
 height: 100%;
 width:80%;
 background-color:rgba(252,235,243,0.6);
 display: flex;
 justify-content: center;
 padding: 30px 20px;
 border-radius: 10px;
}

.fausses-touches, button {
  text-align: center;
  box-shadow :0 2px 2px rgba(0,0,0,0.2), 0 -4px 5px -2px rgba(228,164,176,0.7) inset;
  border-radius: 5px;
  border: none;
  background-color:white;
  width: 4vw;
  padding: 10px 0;
  margin: 5px;
  flex: auto;
  color:rgb(153,123,173);
  font-size: 18px;
}


.flex-wrapper {
  display: flex;
  flex-direction: column;
}

.responsive-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}


.disabled-touche {
  opacity: 0.5;
}

.disabled-touche:hover {
  cursor: none;
}

.fausses-touches p {
  display: inline;
}

.hand-on { /** For position et hover **/
  position: relative;
}

.hand-on:hover {
  cursor: pointer;
}

.fausses-touches:active {
  box-shadow: none;
}

.hand {
  position: absolute;
  top:20px;
  left:40px;
  font-size: 0px;
  z-index: 100;
}


#exemple{
  display: block;
  font-size: 150px;
  text-align: center;
  border: none;
  border-radius: 10px;
  resize: none;
  box-shadow :0 2px 2px rgba(0,0,0,0.2), 0 -4px 5px -2px rgba(228,164,176,0.7) ;
  text-align: center;
  /* padding: 20px 0; */
  width: 300px;
  height: 230px;

}

.hiraganaInput {
  display: flex;
  flex-direction: column;
}

#clear {
  width: 99%;
  margin: 10px auto;
}

/* sketchpad */
#sketchpadapp {
  /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#sketchpad {
  /* float:left; */
  border: 1px solid rgb(153,123,173);
  border-radius:4px;
  position:relative; /* Necessary for correct mouse co-ords in Firefox */

  border-radius: 10px;
  box-shadow :0 2px 2px rgba(0,0,0,0.2), 0 -4px 5px -2px rgba(228,164,176,0.7) ;
}

.sketchArea {
  display: flex;
  width: 80%;
  margin: 20px auto;
  justify-content: space-evenly;
}

@media screen and (max-width: 1000px){
  .sketchArea {
    flex-wrap: wrap;
  }
}

/** ~t o p **/

/** media queries **/
/** For tablette **/
@media(max-width:1000px) {
  /** header **/
  li {
    margin: 0 5px;
    font-size: 15px;
  }
  
  .header-right a {
     width:30px;
  }
  .touche-box {
    width: 95%
  }
  .fausses-touches {
    margin: 15px 5px;
    padding: 15px 0;
  }

/** For tablette **/
}

/** For telephone **/
@media(max-width:670px){
  .header-logo {
    margin-left: 0;
    flex: auto;
    width:50%
    
  }
  .header-logo h1 {
    font-size: 17px;
  }
  
  .header-right {
    flex: auto;
    width:50%;
    text-align: center;
  }
  
  li {
    list-style: none;
    float: left;
    margin: 3px;
    font-size: 10px;
  }
  .top-heading h2 {
    font-size: 15px;
    letter-spacing: normal;
  }

  .top-box {
    width: 100%;
  }

  .touche-box{
    flex-wrap: wrap;
  }
  .responsive-wrapper {
    flex-basis: 100%;
  }

  .fausses-touches, button {
    font-size: 18px;
    padding: 2px;
    margin:5px;
    width:9vw;
  }

  .hand {
    position: absolute;
    top:18px;
    left:18px;
    font-size: 0px;
  }
/** For telephone **/
}
/** media queries **/


